* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0.8);
  padding: 7px;
  box-shadow: 0 0 10px #000;
  border-top: 3px solid #ff5001;
}

footer p {
  color: #fff;
  padding: 0px;
  margin: 0;
}

.resultados {
  display: flex;
  flex-direction:column;
  width: 100%;
  height: 100vh;
  background: #f2f2f2;
}

.resultados .header {
  background: #e4e4e4;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 10px #111;
}

.resultados .header h2 {
  margin: 0;
  padding: 0px;
  font-size: 2rem;
  padding-bottom: 0;
  color: #333;
}

.resultados .header h3 {
  margin: 0;
  padding: 0;
  padding-bottom: px;
  color: #111;
}

.resultados .header h2.naranja {
  color: #ff5001;
  margin: 0;
  padding: 0;
  padding-bottom: 10px !important;
  font-weight: bold;
}

.datos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ff5001;
  padding: 10px 90px;
  box-shadow: 0 0 10px #444;
}

.datos div {
  padding: 5px;
  flex: 1 1 0px;
}

.datos h2 {
  margin: 0;
  padding: 5px;
  color: #fff;
  font-size: 1rem;
  background: #111;
  width: 100%;
  margin: 2px;
}

.layt {
  display: flex;
  flex-direction: row;
  padding: 10px 90px;
  background: #f5f5f5;
}

.layt.dos {
  padding-bottom: 10px;
}

.layt div {
  flex: 1 1 0px;
  margin: 2px;
  background: #fff;
  padding: 10px;
}

.layt div h2 {
  padding: 5px;
  margin: 0;
}

.layt div .datos {
  padding: 0;
  box-shadow: none;
}

.layt div .datos p {
  flex: 1 1 0px;
  margin: 2px;
  padding: 5px 10px;
  background: #ff5001;
  font-weight: bold;
  color: #fff;
}

.layt div .datos p.esp {
  background: #111;
  color: #fff;
}

p.carga {
  margin: 0;
  padding: 0;
}

.layt.tres {
  margin-bottom: 150px !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.layt.tres h2 {
  padding: 10px 70px;
  background: #ff5001;
  cursor: pointer;
  transition: all 1s;
  color: #fff;
}

.layt.tres h2:hover {
  background: #333 !important;
  color: #fff;
}

input.tectron {
  margin: 0;
  padding: 8px;
  border: 0;
  background: #222;
  color: #fff !important;
  font-weight: bold;
  margin-left: 5px;
  border: 1px solid #555;
  font-weight: bold;
}

select.tectron {
  margin: 0;
  margin-left: 0px;
  padding: 7px;
  border-radius: 0;
  border: 0;
  margin-left: 5px;
  background: #222;
  color: #fff;
  font-weight: bold;
  margin-right: 5px;
  border: 1px solid #555;
}

h2.flexter {
  display: flex;
    align-items: center;
}

h2.flexter input, h2.flexter select {
  flex: 1;
  margin-right: 10px;
}

.tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta div:nth-child(1){
  flex: 1;
}

.tarjeta div:nth-child(0){
  flex: 0;
  box-shadow: none !important;
}

.lnr.lnr-arrow-right.flecha {
  width: 30px;
  height: 30px;
  background: #111;
  color: #fff;
  padding: 5px;
}

.acccadmin {
  padding: 20px 180px;
}

.acccadmin input {
  width: 100%;
  padding: 10px;
}

.acccadmin h2 {
  background: #FF5001;
  padding: 10px;
  color: #fff;
}

@media (max-width: 600px) {
  .datos {
    flex-direction: column;
    padding: 10px 10px;
  }
  .datos div {
    width: 100%;
  }
  .layt {
    flex-direction: column;
    padding: 10px 20px;
  }
  .layt div .datos p {
    width: 100%;
  }
}
